/* stylelint-disable font-family-no-missing-generic-family-keyword */
.Header {
  background-color: rgb(10 40 95);
  color: rgb(255, 222, 0);
  padding-left: 3%;
  padding-right: 3%;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header h1 {
  padding-top: 8px;
  align-self: center;
  font-family: pokemon-gb;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.Header a {
  color: rgb(255 204 0);
  text-decoration: none;
  padding-left: 3%;
  transition: all 1s;
  font-family: pokemon-gb;
  font-size: 0.7rem;
  padding-bottom: 10px;
}

.Header-links a {
  margin-left: 2%;
  margin-right: 2%;
}

.Header a:hover {
  color: rgb(255, 222, 0);
  transition: all 1s;
  transform: scale(1.1);
}

.Header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
