.Header {
  background-color: rgb(59, 76, 202);
  color: rgb(255, 222, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

.Header a {
  color: rgb(255, 222, 0);
}

.Header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Header-links a {
  margin-left: 2%;
  margin-right: 2%;
}