/* stylelint-disable font-family-no-missing-generic-family-keyword */
* {
  margin: 0%;
  padding: 0%;
}

.HomePage {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin: auto;
  border: 4vh solid transparent;
  border-image: url(../assets/images/border-red.png) 100 stretch;
}

.HomePage h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  color: black;
  font-family: pokemon-gb;
}

.SelectMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1%;
}

.SelectedRow {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
}
