* {
  margin: 0%;
  padding: 0%;
}

.HomePage {
  background-color: black;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.HomePage div {
  display: flex;
  justify-content: center;
  align-content: stretch
}
