.ItemSelected {
  background-color: rgb(10 40 95);
  padding-top: 1%;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-family: pokemon-gb;
}

.MidSection p {
  padding-top: 5%;
  text-align: start;
  font-family: pokemon-gb;
}
