/* stylelint-disable */
/* MAX WIDTH */
@media (max-width: 575.98px) {
  

}


@media (max-width: 767.98px) {

 
  
}


@media (max-width: 991.98px) {
  .Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
  }

  .Header h1 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .header-logo img {
    max-width: 50px;
    max-height: 50px;
    padding-left: 10px;
  }

}


@media (max-width: 1199.98px) {

  .ItemSelected {
    width: 220px;
    height: 310px;
  }

  .TopImage img {
    width: 150px;
    height: 15gio0px;
  }

  .MidSection {
    font-size: 0.6rem;
    padding-top: 5%;
  }
}
  


@media (max-width: 1399.98px) {
  
}

/* Minimun Width */

@media (min-width: 576px) {

}

@media (min-width: 769px) {
  
}

@media (min-width: 992px) {
  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
  }

  .Header-links {
    margin-left: 40px;
  }

  .Header a {
    padding-top: 10px;
  }

  .header-logo img {
    max-width: 50px;
    max-height: 50px;
    padding-left: 10px;
  }

}
  

@media (min-width: 1200px) {

  .ItemSelected {
    width: 350px;
    height: 450px;
  }

  .TopImage img {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
  }

  .MidSection {
    padding-top: 5%;
    font-size: 0.9rem;
  }

}

@media (min-width: 1400px) {

  .ItemSelected {
    font-size: 1.5rem;
  }
  
}
