.App {
  text-align: center;
  background-color: rgb(0 117 190);
}

@font-face {
  font-family: pokemon-hollow;
  src: url(./assets/fonts/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: pokemon-solid;
  src: url(./assets/fonts/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: pokemon-gb;
  src: url(./assets/fonts/Pokemon_GB/Pokemon_GB.woff);
}